@font-face {
  font-family: Montserrat;
  src: url(../fonts/Sk-Modernist-Regular.otf); }

* {
  font-family: "Montserrat"; }

html {
  scroll-behavior: smooth; }

body {
  overflow: auto;
  margin: 0;
  /*font-family: "Limelight", sans-serif;*/
  text-rendering: optimizeLegibility;
  color: #fff;
  background-color: #000b19; }

.green {
  color: #04eaf0; }

.menuItem {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 33px;
  position: relative;
  left: 0;
  top: 0; }
  .menuItem .itemsWrapper {
    transition: 0.3s;
    position: relative; }
  .menuItem:hover {
    transition: 0.3s; }
    .menuItem:hover .itemsWrapper {
      transition: 0.3s;
      transform: translateY(-34px); }
  .menuItem span {
    display: block; }

header {
  padding-top: 34px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  transition: 0.3s; }
  header .headerLogo {
    height: 37px; }
  header ul {
    list-style: none;
    margin-bottom: 0px; }
    header ul a {
      color: #fff;
      font-size: 22px;
      display: inline-block;
      margin: 0 15px; }
      header ul a:hover {
        text-decoration: none;
        color: #04eaf0; }

.team_social a {
  margin: 0 5px; }

.fixedSocials {
  position: fixed;
  right: 10px;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00254f;
  border-radius: 9px;
  height: 160px;
  justify-content: space-around;
  width: 60px;
  z-index: 2; }
  .fixedSocials svg {
    max-width: 30px; }

.abcTitle {
  margin-top: 62px; }

.imgCircle {
  position: absolute;
  left: -1%;
  top: -33%;
  opacity: 0.3; }

.mainSection {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../images/Group (1).svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.165); }
  .mainSection .leftCircle {
    position: absolute;
    left: 0%; }
  .mainSection .rightCircle {
    position: absolute;
    right: 0%; }

.aboutUs {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.165); }

#team {
  padding-top: 125px;
  padding-bottom: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.165); }

.slider {
  padding-top: 125px;
  padding-bottom: 100px; }
  .slider .owl-carousel {
    position: relative; }
  .slider .owl-next {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    right: -60px;
    top: 141px;
    background: #ffffff29 !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    .slider .owl-next span {
      font-size: 51px;
      position: absolute;
      top: -20px; }
  .slider .owl-prev {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    left: -81px;
    top: 141px;
    background: #ffffff29 !important;
    display: flex;
    align-items: center;
    justify-content: center; }
    .slider .owl-prev span {
      font-size: 51px;
      position: absolute;
      top: -20px; }
  .slider h3 {
    font-size: 28px;
    margin-bottom: 50px; }
  .slider .item {
    height: 260px; }
  .slider .owl-item {
    padding: 50px 5px; }
    .slider .owl-item .item {
      transition: 0.3s; }
      .slider .owl-item .item:hover {
        transform: scale(1.03); }
  .slider .nft_item {
    position: relative;
    width: 239px;
    height: 237px; }
    .slider .nft_item img {
      transition: 0.3s;
      cursor: pointer; }
  .slider .timerWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
    .slider .timerWrapper span {
      display: block;
      color: #ffffff8a; }
  .slider .timeer {
    font-size: 32px;
    width: 100%;
    text-align: center; }

.price {
  color: #ffffff8a; }

.blueColor {
  color: #04eaf0; }

.nftSliderWrapper {
  position: relative;
  width: 400px; }
  .nftSliderWrapper > img {
    max-width: 90%;
    width: 100%;
    max-height: 380px;
    transition: 1.3s;
    position: absolute;
    opacity: 0; }
    .nftSliderWrapper > img.active {
      opacity: 1; }

.nftModal {
  position: fixed;
  left: 0px;
  top: 0px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.344);
  width: 100%;
  z-index: 22;
  display: flex;
  justify-content: end; }
  .nftModal .modal_header {
    padding: 24px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .nftModal_about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 130px);
    align-items: center; }
  .nftModal_textBox {
    padding: 32px; }
    .nftModal_textBox h6 {
      color: white;
      margin-bottom: 16px;
      font-size: 32px; }
    .nftModal_textBox p {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6); }
  .nftModal_image {
    margin-top: 50px; }
    .nftModal_image img {
      max-width: 50%; }

.nftmodal_content {
  width: 520px;
  background: #192330;
  min-height: 100vh; }

.pointer {
  cursor: pointer; }

.team_row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center; }

.team_card {
  margin: 15px;
  width: 310px;
  height: 310px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.05); }
  .team_card h5 {
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 26px; }
  .team_card h6 {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 25px;
    font-size: 16px; }
  .team_card a:hover {
    text-decoration: none; }

.teamImge {
  max-width: 104px;
  height: 104px;
  border-radius: 100px;
  object-fit: cover; }

.about2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.165);
  padding-bottom: 125px; }
  .about2 .text-container {
    max-width: 570px;
    margin: auto; }
  .about2 .social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 24px;
    padding: 30px 40px;
    margin: auto; }
    .about2 .social > div {
      font-size: 24px;
      font-weight: 700; }
  .about2 a {
    display: inline-block;
    margin: 0 10px; }

p.wight {
  color: rgba(255, 255, 255, 0.662);
  font-size: 18px; }

footer {
  padding-top: 130px;
  padding-bottom: 150px; }
  footer img {
    max-width: 100%; }
  footer .footerLink {
    margin-top: 40px;
    display: inline-block; }
    footer .footerLink svg {
      max-width: 300px; }

.small_text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.462); }

h1,
h2 {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
  max-width: 590px;
  margin: auto;
  margin-top: 2vw;
  line-height: 1.35;
  text-align: center; }

h3 {
  font-size: 48px;
  font-weight: 700; }

h2 {
  font-size: 42px;
  position: relative;
  margin-bottom: 15px;
  margin-bottom: 50px; }
  h2::before {
    content: "";
    bottom: -10px;
    position: absolute;
    left: 50%;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background-image: linear-gradient(to right, #111 7%, #009c4c 51%, #111 96%); }

p {
  color: rgba(255, 255, 255, 0.562);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px; }

.nftLink {
  text-align: center; }

.modalLink {
  width: calc(100% - 50px);
  margin: auto; }

video {
  height: 291px;
  width: 291px;
  border-radius: 23px; }

@keyframes example {
  from {
    transform: rotateY(-90deg); }
  to {
    transform: rotateY(0deg); } }

@media only screen and (min-width: 767px) {
  header.scrolling {
    position: fixed;
    background-color: #000b19;
    margin-top: 0px;
    transition: 0.3s;
    padding-top: 20px;
    padding-bottom: 20px; } }

@media only screen and (max-width: 767px) {
  .homeImg {
    max-width: 80%; }
  .rightCircle {
    max-width: 50%; }
  .owl-nav {
    display: none; }
  .leftCircle {
    max-width: 50%; }
  .slider .nft_item {
    width: 215px;
    width: auto;
    height: auto; }
    .slider .nft_item img {
      width: 100%; }
  .nftmodal_content {
    width: 100%; }
  .nftSliderWrapper {
    height: 300px; }
    .nftSliderWrapper img {
      max-height: 100%; }
  .slider {
    padding-top: 35px;
    padding-bottom: 30px; }
  .nftModal .modal_header {
    padding-top: 12px;
    padding-bottom: 12px; }
  .mainSection {
    min-height: 74vh; }
  .slider .item {
    height: auto; }
  .social {
    flex-direction: column;
    align-items: center; }
    .social > div:first-child {
      margin-bottom: 20px; }
  .nftLink {
    display: block;
    text-align: center; }
    .nftLink svg {
      width: calc(100% - 50px);
      margin: auto; }
  h1 {
    position: relative;
    font-size: 28px; }
  h2 {
    font-size: 25px; }
  p {
    font-size: 15px; }
  h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center; }
  .logo img {
    max-height: 50px; }
  header ul {
    display: none;
    list-style: none;
    position: absolute;
    background: black;
    width: 100%;
    text-align: center;
    top: 61px;
    left: 0;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-bottom: 20px;
    margin-bottom: 0;
    box-shadow: 1px 11px 20px 0px #0d284a; }
    header ul a {
      font-size: 20px; }
      header ul a:hover {
        color: #04eaf0; }
  header {
    background-color: black;
    position: fixed;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px; }
    header .container {
      max-width: 100%; }
    header ul {
      left: 0; } }
